.stream {
  float: left;
}
.stream:first-child:nth-last-child(1) {
  width: 100%;
  height: 100%;
}

.stream:first-child:nth-last-child(2),
.stream:first-child:nth-last-child(2) ~ .stream {
  width: 50%;
  height: 100%;
}
.stream:first-child:nth-last-child(3),
.stream:first-child:nth-last-child(3) ~ .stream,
.stream:first-child:nth-last-child(4),
.stream:first-child:nth-last-child(4) ~ .stream {
  width: 50%;
  height: 50%;
}
.stream:first-child:nth-last-child(5),
.stream:first-child:nth-last-child(5) ~ .stream,
.stream:first-child:nth-last-child(6),
.stream:first-child:nth-last-child(6) ~ .stream,
.stream:first-child:nth-last-child(7),
.stream:first-child:nth-last-child(7) ~ .stream,
.stream:first-child:nth-last-child(8),
.stream:first-child:nth-last-child(8) ~ .stream,
.stream:first-child:nth-last-child(9),
.stream:first-child:nth-last-child(9) ~ .stream
{
  width: 33.33%;
  height: 33.33%;
}
